.dropdown-content .item {
  background-color: gainsboro;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.item-todo{
  margin: 15px 10px;
  display: flow-root !important;
  padding: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

.check-box{
  vertical-align: -webkit-baseline-middle;
}

#inp-search{
  position: relative;
}

#result-search{
  position: absolute;
  width: calc(100% - 20px);
}

.bulk{
  padding: 10px;
  display: flow-root !important;
  background-color: #e0e0e0;
  position: fixed;
  padding: 10px;
  bottom: 0px;
  width: calc(50% - 20px);
}

@media only screen and (max-width: 500px) {
  .bulk{
    padding: 10px;
    display: flow-root !important;
    background-color: #e0e0e0;
    position: fixed;
    padding: 10px;
    bottom: 0px;
    width: calc(100% - 20px);
  }
}